[submodule "third_part/lua"]
	path = third_part/lua
	url = https://github.com/happiykj/lua.git
	branch = v5.3
[submodule "third_part/sol2"]
	path = third_part/sol2
	url = https://github.com/happiykj/sol2.git
	branch = develop
[submodule "third_part/luasocket"]
	path = third_part/luasocket
	url = https://github.com/happiykj/luasocket.git
[submodule "third_part/spdlog"]
	path = third_part/spdlog
	url = https://github.com/happiykj/spdlog.git
	branch = v1.x
[submodule "third_part/luasql"]
	path = third_part/luasql
	url = https://github.com/happiykj/luasql.git
[submodule "third_part/lanes"]
	path = third_part/lanes
	url = https://github.com/happiykj/lanes.git
[submodule "third_part/lfs"]
	path = third_part/lfs
	url = https://github.com/happiykj/luafilesystem.git
[submodule "third_part/md5"]
	path = third_part/md5
	url = https://github.com/happiykj/md5.git
[submodule "third_part/luaprotobuf"]
	path = third_part/luaprotobuf
	url = https://github.com/happiykj/lua-protobuf.git
[submodule "third_part/luajson"]
	path = third_part/luajson
	url = https://github.com/happiykj/lua-cjson.git
